@import "~react-image-gallery/styles/css/image-gallery.css";

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222222;
  padding: 2vh 5rem;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #13def0;
}
#logo:hover {
  color: #13def0b9;
}
#logo:hover .anticon-video-camera {
  color: #13def0b9;
}

.anticon-video-camera {
  font-size: 2.5rem;
  color: #13def0;
  margin-right: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}
nav a:hover {
  color: #ddd;
}
#btnHamburguesa {
  display: none;
  color: #ddd;
  background: #222;
}
#btnHamburguesa:hover {
  border-color: #ddd;
}
#btnCerrarSesion {
  margin-left: 1rem;
}
.ant-popover-inner {
  background: #111 !important;
}
/* Pagina principal */
#pagPrincipal {
  padding: 2.5rem 5rem;
  background-image: url("https://api-cinema-10d15.firebaseapp.com/static/media/bg.b54fb72f.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}
#filtros {
  color: #111 !important;
}
.ant-radio-button-wrapper  {
  background: #000;
}
#filtrosTitulo {
  margin: 0;
  font-size: 1.8rem;
  color: #ddd;
}
#buscadorContainer {
  text-align: end;
}

/* Seccion lista peliculas */
#listaPeliculas {
  margin: 2.5rem 0;
}
.peliculasImg {
  width: 100%;
}
.peliculasDesc {
  height: 16vh;
  background: #000;
  color: #ddd;
  border-radius: 0 0 7px 7px;
  padding: 0.5rem;
}
.peliculasDesc__calificacion {
  display: flex;
  margin-bottom: 0.25rem;
}
.peliculasDesc__calificacion p {
  margin-bottom: 0;
}
.peliculasDesc__icon {
  color: #f5c518;
  margin-top: 0.1rem;
  margin-right: 0.4rem;
}
.peliculasDesc h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Seccion paginacion */
#paginacion {
  text-align: center;
  padding: 1rem 0;
  background: #111111cc;
}
.ant-pagination-item a {
  color: #fff !important;
  font-size: 1.3rem;
  margin: 0 0.5rem;
}
.ant-pagination-item-active {
  background: #111111cc !important;
  border-color: #fff !important;
}
.ant-pagination-item-link {
  color: #fff !important;
}
.ant-pagination-item-ellipsis {
  color: #fff !important;
}

/* Pagina de ingreso */
#pagIngreso {
  background: #111;
  height: 85vh;
  padding: 6rem 0;
  background-image: url("https://api-cinema-10d15.firebaseapp.com/static/media/bg.b54fb72f.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}
.formularioContainer {
  background: #222222cc;
  color: #ddd;
  width: 30vw;
  height: 60vh;
  border-radius: 1rem;
  /* padding: 1rem ; */
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formulario {
  width: 75%;
}
.ant-input {
  color: #111;
}
.formulario__cambioBtn {
  font-weight: bolder;
}

/* Pagina de pelicula */
#pagPelicula {
  padding: 2.5rem 5em;
}

/* Seccion descripcion */
#seccionDescripcion {
  background: #222222bb;
  color: #ddd;
}
#seccionDescripcion__datos {
  padding-top: 2rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#seccionDescripcion__datos h1 {
  color: #13def0;
  margin: 0;
}
.seccionDescripcion__texto {
  padding: 0 2rem;
}
.seccionDescripcion__texto:nth-child(1) p {
  margin-bottom: 0.2rem;
  font-style: italic;
}
.seccionDescripcion__texto:nth-child(3) {
  margin-bottom: 1rem;
}
.seccionDescripcion__genero {
  background: #13def0;
  border-radius: 5px;
  margin: 0 0.1rem;
  text-align: center;
}
.seccionDescripcion__genero p,
h3 {
  margin: 0;
  font-size: 1.1rem;
}
#seccionDescripcion__footer {
  background: #111;
  padding: 1.5rem 0;
  text-align: center;
}
#seccionDescripcion__footer p {
  margin: 0;
  font-size: 1.1rem;
}

/* Seccion actores */
#seccionActores {
  background: #ddd;
  padding: 2.5rem;
  font-size: 1.5rem;
}
.actoresCard__img {
  width: 100%;
}
.actorCard__descripcion {
  background: #bbb;
  border-radius: 0 0 8px 8px;
  padding: 0.5rem;
  height: 5rem;
  text-align: center;
}
.actorCard__descripcion p {
  margin: 0.2rem 0;
}
#actoresBtnCont {
  margin-top: 2.5rem;
  text-align: center;
}
#actoresBtn {
  border-color: #13def0;
  background: #13def0;
}
#actoresBtn:hover {
  color: #fff;
}

/* Seccion galeria */
#seccionGaleria {
  background: #222222bb;
  padding: 2.5rem;
  font-size: 1.5rem;
  color: #ddd;
}

/* Footer */
#footer {
  text-align: center;
  padding: 6.2vh 0;
  background: #111;
  color: #ddd;
}


/* Responsive para dispositivos MD */
@media (min-width: 769px) and (max-width: 993px) {
  /* Header */
  #header {
    padding: 2vh 5vw;
  } 
  #navBarPc{
    display: none;
  } 
  nav {
    background: #222;
    flex-direction: column;
    align-items: start;

  }
  .ant-drawer-body {
    background: #222;
    padding-top: 3vh !important;
    padding-left: 5vw !important;
  }
  nav a {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    letter-spacing: .07rem;
  }
  #btnHamburguesa {
    display: inline;
  }

  /* Pagina principal */
  #pagPrincipal {
    padding: 2.5rem;
  }
  #buscadorContainer {
    text-align: start;
    margin-top: 1rem;
  }

  /* Pagina ingreso */
  #pagIngreso {
    height: 79.5vh;
    padding: 12rem 0;
  }
  .formularioContainer {
    width: 55vw;
    height: 45vh;
  }

  /* Pagina pelicula */
  #pagPelicula {
    padding: 2.5rem;
  }
  #seccionDescripcion__datos {
    padding: 0;
    padding-top: 1rem;
  }
  .seccionDescripcion__texto {
    padding: 0 1rem;
  }
  .seccionDescripcion__genero {
    margin-bottom: 0.2rem;
  }

  #seccionActores {
    padding: 1rem;
  }
  .actorCard__descripcion {
    height: 7rem;
  }

  #seccionGaleria {
    padding: 1rem;
  }
}

/* Responsive para dispositivos SM */
@media (max-width: 768px) {
  /* Header */
  #header {
    padding: 2vh 5vw;
  } 
  #navBarPc{
    display: none;
  } 
  nav {
    background: #222;
    flex-direction: column;
    align-items: start;

  }
  .ant-drawer-body {
    background: #222;
    padding-top: 3vh !important;
    padding-left: 5vw !important;
  }
  nav a {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    letter-spacing: .07rem;
  }
  #btnHamburguesa {
    display: inline;
  }

  /* Pagina principal */
  #pagPrincipal {
    padding: 1.5  rem .6rem;
  }
  .ant-radio-button-wrapper {
    padding-inline: 5px !important;
  }
  #buscadorContainer {
    text-align: start;
    margin-top: 1rem;
  }

  /* Pagina ingreso */
  #pagIngreso {
    height: 77.7vh;
    padding: 5rem 0;
  }
  .formularioContainer {
    width: 75vw;
    height: 55vh;
  }

  /* Pagina pelicula */
  #pagPelicula {
    padding: 1.5rem;
  }
  #seccionDescripcion__datos {
    padding: 0;
    padding-top: 1rem;
  }
  .seccionDescripcion__texto {
    padding: 0 1rem;
  }
  .seccionDescripcion__genero {
    margin-bottom: 0.2rem;
  }
  #seccionDescripcion__footer {
    padding: 1rem 0.2rem;
  }

  #seccionActores {
    padding: 1rem;
  }
  .actorCard__descripcion {
    height: 7rem;
  }

  #seccionGaleria {
    padding: 1rem;
  }
}
