@import "~react-image-gallery/styles/css/image-gallery.css";

/* Header */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 2vh 5rem;
}
#logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #1CD6CE;
}
#logo:hover {
  color: #42E3D6;
}
#logo:hover .anticon-video-camera {
  color: #42E3D6;
}

.anticon-video-camera {
  font-size: 2.5rem;
  color: #1CD6CE;
  margin-right: 0.5rem;
}

nav {
  display: flex;
  align-items: center;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}
nav a:hover {
  color: #ddd;
}
#btnHamburguesa {
  display: none;
  color: #ddd;
  background: #222;
}
#btnHamburguesa:hover {
  border-color: #ddd;
}
#btnCerrarSesion {
  margin-left: 1rem;
}
.ant-popover-inner {
  background: #111 !important;
}
.ant-popconfirm-buttons > button:first-of-type {
  background: #D61C4E;
  border: none;
}
.ant-popconfirm-buttons > button:first-of-type:hover {
  background: #E24166;
  color: #ddd;
}

/* Pagina principal */
#pagPrincipal {
  padding: 1.5rem 5rem;
  background-image: url("https://api-cinema-10d15.firebaseapp.com/static/media/bg.b54fb72f.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}
#filtros {
  color: #111 !important;
}
.ant-radio-button-wrapper {
  background: #000;
}
#filtrosTitulo {
  margin: 0;
  font-size: 1.8rem;
  color: #ddd;
}
#buscadorContainer {
  text-align: end;
}

/* Seccion lista peliculas */
#listaPeliculas {
  margin: 2rem 0;
}
.cardPelicula {
  border-radius: 7px;
  box-shadow: 1px 3px 10px 0px #333;
  -webkit-box-shadow: 1px 3px 10px 0px #333;
  -moz-box-shadow: 1px 3px 10px 0px #333;
}
.cardPelicula:hover {
  transform: scale(1.02);
  box-shadow: 1px 7px 30px 0px #333;
  -webkit-box-shadow: 1px 7px 30px 0px #333;
  -moz-box-shadow: 1px 7px 30px 0px #333;
  transition: 0.25s;
}
.peliculasImg {
  border-radius: 7px;

  width: 100%;
}
.peliculasDesc {
  min-height: 17vh;
  background: #000;
  color: #ddd;
  border-radius: 0 0 7px 7px;
  padding: 0.5rem;
}
.peliculasDesc__calificacion {
  display: flex;
  margin-bottom: 0.25rem;
}
.peliculasDesc__calificacion p {
  margin-bottom: 0;
}
.peliculasDesc__icon {
  margin-right: 0.4rem;
  color: #f5c518;
}
.peliculasDesc h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Seccion paginacion */
#paginacion {
  text-align: center;
  padding: 1rem 0;
  background: #111111cc;
}
.ant-pagination-item a {
  color: #fff !important;
  font-size: 1.3rem;
  margin: 0 0.5rem;
}
.ant-pagination-item-active {
  background: #111111cc !important;
  border-color: #fff !important;
}
.ant-pagination-item-link {
  color: #fff !important;
}
.ant-pagination-item-ellipsis {
  color: #fff !important;
}

/* Pagina de ingreso */
#pagIngreso {
  background: #111;
  height: 85vh;
  padding: 6rem 0;
  background-image: url("https://api-cinema-10d15.firebaseapp.com/static/media/bg.b54fb72f.jpg");
  background-position: 50%;
  background-size: cover;
  background-attachment: fixed;
}
.formularioContainer {
  background: #222222cc;
  color: #ddd;
  width: 30vw;
  height: 60vh;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formulario {
  width: 75%;
}
.ant-input {
  color: #111;
}
.formulario__cambioBtn {
  font-weight: bolder;
}

/* Pagina de pelicula */
#pagPelicula {
  padding: 2rem 5em;
}

/* Seccion descripcion */
#seccionDescripcion {
  background: #222222bb;
  color: #ddd;
}

#seccionDescripcion__datos {
  padding-top: 2rem;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#seccionDescripcion__datos h1 {
  color: #1CD6CE;
  margin: 0;
}
.seccionDescripcion__texto {
  padding: 0 2rem;
}
.seccionDescripcion__texto:nth-child(1) p {
  margin-bottom: 0.2rem;
  font-style: italic;
}
.seccionDescripcion__texto:nth-child(3) {
  margin-bottom: 1rem;
}
#seccionDescripcion__btn {
  background: #FEDB39;
  border: none;
  color: #111;
}
#seccionDescripcion__btn:hover {
  background: #ffe841;
}
.ant-modal-content {
  background: #111111f1 !important;
}
.ant-modal-title {
  background: #111 !important;
}
.ant-modal-close-x {
  color: #ddd;
}
.ant-rate .ant-rate-star-second {
  color: #bbb;
}
.seccionDescripcion__genero {
  background: #1CD6CE;
  margin-right: 0.7rem;
  border-radius: 5px;
  text-align: center;
}
.seccionDescripcion__genero p,
h3 {
  margin: 0;
  font-size: 1.1rem;
}
#seccionDescripcion__footer {
  background: #000;
  padding: 1.5rem 0;
  text-align: center;
}
#seccionDescripcion__footer p {
  margin: 0;
  font-size: 1.1rem;
}

/* Seccion actores */
#seccionActores {
  background: #ddd;
  padding: 2.5rem;
  font-size: 1.5rem;
}
.actoresCard__imgContainer {
  min-height: 16rem;
}
.actoresCard__img {
  width: 100%;
  min-height: 16rem;
  object-fit: cover;
}
.actorCard__descripcion {
  background: #bbb;
  min-height: 5rem;
  border-radius: 0 0 8px 8px;
  padding: 0.5rem;
  text-align: center;
}
.actorCard__descripcion p {
  margin: 0.2rem 0;
}
#actoresBtnCont {
  margin-top: 2.5rem;
  text-align: center;
}
#actoresBtn {
  border-color: #1CD6CE;
  background: #1CD6CE;
}

#actoresBtn:hover {
  color: #fff;
}

/* Seccion galeria */
#seccionGaleria {
  background: #222222bb;
  padding: 2.5rem;
  font-size: 1.5rem;
  color: #ddd;
}

#pagListaPeliculas {
  padding: 2.5rem 5em;
  min-height: 75.4vh;
  background-image: linear-gradient(
    to bottom,
    #000000,
    #050505,
    #090909,
    #0d0d0d,
    #111111
  );
}
.ant-table {
  border: 1px solid #ddd;
  border-bottom: none;
}
.tabla__img {
  width: 100%;
}
.tabla__titulo {
  color: #ddd;
}

/* Footer */
#footer {
  text-align: center;
  padding: 6.2vh 0;
  background: #000;
  color: #ddd;
}

/* Responsive para dispositivos MD */
@media (min-width: 769px) and (max-width: 993px) {
  /* Header */
  #header {
    padding: 2vh 5vw;
  }
  #navBarPc {
    display: none;
  }
  nav {
    background: #222;
    flex-direction: column;
    align-items: start;
  }
  .ant-drawer-body {
    background: #222;
    padding-top: 3vh !important;
    padding-left: 5vw !important;
  }
  nav a {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    letter-spacing: 0.07rem;
  }
  #btnHamburguesa {
    display: inline;
  }

  /* Pagina principal */
  #pagPrincipal {
    padding: 2.5rem;
  }
  #buscadorContainer {
    text-align: start;
    margin-top: 1rem;
  }
  .peliculasDesc {
    min-height: 7.5rem;
  }

  /* Pagina ingreso */
  #pagIngreso {
    height: 79.5vh;
    padding: 12rem 0;
  }
  .formularioContainer {
    width: 55vw;
    height: 45vh;
  }

  /* Pagina pelicula */
  #pagPelicula {
    padding: 2.5rem;
  }
  #seccionDescripcion__datos {
    padding: 0;
    padding-top: 1rem;
  }
  .peliculasImg {
    height: 100%;
    object-fit: cover;
  }

  .seccionDescripcion__genero {
    min-width: 8rem;
    margin-bottom: 0.5rem;
  }

  #seccionActores {
    padding: 1rem;
  }
  .actorCard__descripcion {
    min-height: 6rem;
  }

  #seccionGaleria {
    padding: 1rem;
  }
}

#pagListaPeliculas {
  padding: 2.5rem;
}

/* Responsive para dispositivos SM */
@media (max-width: 768px) {
  /* Header */
  #header {
    padding: 2vh 5vw;
  }
  #navBarPc {
    display: none;
  }
  nav {
    background: #222;
    flex-direction: column;
    align-items: start;
  }
  .ant-drawer-body {
    background: #222;
    padding-top: 3vh !important;
    padding-left: 5vw !important;
  }
  nav a {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-decoration: none;
    letter-spacing: 0.07rem;
  }
  #btnHamburguesa {
    display: inline;
  }

  /* Pagina principal */
  #pagPrincipal {
    padding: 1.5rem;
  }
  .ant-radio-button-wrapper {
    padding-inline: 5px !important;
  }
  #buscadorContainer {
    text-align: start;
    margin-top: 1rem;
  }

  .peliculasDesc {
    min-height: 7.5rem;
  }

  /* Pagina ingreso */
  #pagIngreso {
    height: 77.7vh;
    padding: 5rem 0;
  }
  .formularioContainer {
    width: 75vw;
    height: 55vh;
  }

  /* Pagina pelicula */
  #pagPelicula {
    padding: 1.5rem;
  }
  #seccionDescripcion__datos {
    padding: 0;
    padding-top: 1rem;
  }
  .seccionDescripcion__texto {
    padding: 0 1rem;
  }
  .seccionDescripcion__genero {
    min-width: 9rem;
    margin-bottom: 0.2rem;
  }
  #seccionDescripcion__footer {
    padding: 1rem 0.2rem;
  }

  #seccionActores {
    padding: 1rem;
  }
  .actorCard__descripcion {
    min-height: 6rem;
  }

  #seccionGaleria {
    padding: 1rem;
  }
}

/* Pagina lista peliculas */
#pagListaPeliculas {
  padding: 1.5rem;
}

.ant-table {
  font-size: 0.8rem;
  overflow-x: scroll;
}
.ant-table-cell:nth-child(2) {
  min-width: 9rem;
}
